# Lists

In [1]:

list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list_a[-1]

10

In [6]:
add_2 = ['hello', 'test', 'Jedha']

In [7]:
list_a + add_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

In [8]:
list_a.append(add_2)

In [12]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
add_2 = ['hello', 'test', 'Jedha']


for add in add_2:
    list_a.append(add)

print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

In [13]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
add_2 = ['hello', 'test', 'Jedha']


list_a.extend(add_2)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

# del

In [14]:
list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

In [20]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
add_2 = ['hello', 'test', 'Jedha', 'hello', 'hello']


list_a.extend(add_2)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha', 'hello', 'hello']

In [21]:
list_a.remove('hello')

print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'test', 'Jedha', 'hello', 'hello']

In [24]:
while 'hello' in list_a:
    list_a.remove('hello')

In [25]:
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'test', 'Jedha']

In [27]:
list_a.pop(-2)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Jedha']

In [29]:
del(list_a[-1])

In [30]:
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
remove_list_a = list_a.pop(-1)

In [34]:
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
print(remove_list_a)

10

In [36]:
add_2 = ['hello', 'test', 'Jedha', 'hello', 'hello']
print(add_2)

['hello', 'test', 'Jedha', 'hello', 'hello']

In [37]:
add_2.remove('hello')
print(add_2)

['test', 'Jedha', 'hello', 'hello']

In [39]:
'hello' in add_2

True

In [41]:
while 'hello' in add_2:
    add_2.remove('hello')
    print(add_2)

['test', 'Jedha', 'hello']
['test', 'Jedha']

# Slice

In [43]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
list_a[::2]

[1, 3, 5, 7, 9]

In [57]:
list_a[::3]

[1, 4, 7, 10]

In [58]:
list_a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
type(dict)

type

# Dictionaries

In [9]:
dict_a = {'name' : 'Julien'}

In [11]:
dict_a['name'] = 'Kevin'

In [12]:
dict_a

{'name': 'Kevin'}

In [21]:
dict_a = {
    'Voiture' : {
        'model' : 'clio',
        'nb_portes' : 3
    },
    'name' : 'Julien',
    'age' : 25,
    'job' : 'dev'
    }

In [20]:
dict_a['ID']

KeyError: 'ID'

In [14]:
dict_a['age']

25

In [15]:
dict_a['job']

'dev'

In [16]:
dict_a.keys()

dict_keys(['name', 'age', 'job'])

In [22]:
dict_a['Voiture']

{'model': 'clio', 'nb_portes': 3}

In [45]:
dict_members = {
    'Empl1' : {
    'name' : 'Julien',
    'age' : 25,
    'job' : 'dev',
    'Voiture' : {
        'model' : 'clio',
        'nb_portes' : 3
        }
    },
   'Kevin': {
    'Kevin' : 'Kevin',
    'age' : 40,
    'job' : 'dev',
    'Voiture' : {
        'model' : 'clio',
        'nb_portes' : 3
    }
    }
}

In [48]:
type(dict_members['Empl1'])

dict

In [51]:
dict_members['Empl1']['Voiture'].keys()

dict_keys(['model', 'nb_portes'])

In [52]:
dict_members['Empl1']['Voiture'].values()

dict_values(['clio', 3])

In [53]:
dict_members.

{'Empl1': {'name': 'Julien',
  'age': 25,
  'job': 'dev',
  'Voiture': {'model': 'clio', 'nb_portes': 3}},
 'Kevin': {'Kevin': 'Kevin',
  'age': 40,
  'job': 'dev',
  'Voiture': {'model': 'clio', 'nb_portes': 3}}}

In [55]:
dict_b = {'name' : 'Julien',
    'age' : 25,
    'job' : 'dev',
}
print(dict_b)

{'name': 'Julien', 'age': 25, 'job': 'dev'}

In [59]:
for item in dict_b.items():
    print(item)

('name', 'Julien')
('age', 25)
('job', 'dev')

# Tuple

In [60]:
tuple_a = ('name', 'Julien')
print(tuple_a)

('name', 'Julien')

In [61]:
tuple_a[0]

'name'

In [62]:
tuple_a[0] = 'Kevin'

TypeError: 'tuple' object does not support item assignment

# Set

In [63]:
add_2 = ['hello', 'test', 'Jedha', 'hello', 'hello']
print(add_2)

['hello', 'test', 'Jedha', 'hello', 'hello']

In [73]:
set_a = set(add_2)
print(set_a)

{'hello', 'Jedha', 'test'}

In [76]:
list(set_a)

['hello', 'Jedha', 'test']